.simple-control {
    -fx-padding:          5;
    -fx-background-color: black;
}

.simple-control .bar {
    -fx-fill:  white;
}

.simple-control .empty-bar {
    -fx-fill:  gray;
}

.simple-control .tick {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.simple-control .background-circle {
    -fx-fill: -base-color;
}

.simple-control .display {
    -fx-font-family: 'Lato Light';
    -fx-font-size:   24;
    -fx-fill:        derive(-base-color, 90%);
}