.simple-control {
    -fx-padding:          5;
    -fx-background-color: black;
    -fx-font-family: 'DS-Digital';
    -fx-font-size:   16;
    -fx-text-fill: black;
}

.simple-control .bar {
    -fx-fill:  white;
}

.simple-control .empty-bar {
    -fx-fill:  rgb(40, 40, 40);
}

.simple-control .tick {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.simple-control .background-circle {
    -fx-fill: -base-color;
}

.simple-control .title {
    -fx-font-size:   30;
    -fx-text-fill: white;
}

.simple-control .production {
    -fx-text-fill: white;
}

.windmill-range {
    -fx-padding: 5;
    -fx-background-color: rgb(0, 0, 0);
}

.windmill-range .background-circle {
    -fx-stroke-width: 30;
    -fx-stroke: rgb(40, 40, 40);
    -fx-fill: transparent;
}

.windmill-range .bar {
    -fx-stroke-width: 10;
    -fx-stroke: darkred;
    -fx-stroke-line-cap: round;
    -fx-fill: transparent;
}

.windmill-range .thumb {
    -fx-fill: darkred;
    -fx-cursor: hand;
}

.windmill-range .value-display {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 48;
    -fx-fill: white;
}

.windmill-range .tick {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.windmill-range .tick-label {
    -fx-font-family: 'Lato Light';
    -fx-font-size: 12;
    -fx-fill: rgb(87, 87, 87);
}
