.windpark {
    -fx-padding: 5;
    -fx-background-color: black;
    -fx-font-family: 'DS-Digital';
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-padding: 20;
}

.windpark .label {
    -fx-font-family: 'DS-Digital';
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.windpark .background-circle {
    -fx-fill: -base-color;
}

.windpark .title {
    -fx-font-size: 30;
    -fx-text-fill: white;
}

.production-bar .bar {
    -fx-fill: linear-gradient(to right, #ff0000, #ffff00);
}

.production-bar .empty-bar {
    -fx-fill: rgb(40, 40, 40);
}

.production-bar .transparent-bar {
    -fx-fill: transparent;
    -fx-cursor: w_resize;
}

.production-bar .tick {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.production-bar .text-field {
    -fx-max-width: 80px;
    -fx-max-height: 10px;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0.03em;
}

.power-display .power-background {
    -fx-fill: linear-gradient(to right, red, yellow);
}

.power-display .power-icon {
    -fx-effect: dropshadow(three-pass-box, orange, 5, 0, 0, 0);
}

.power-display .power-label {
    -fx-font-size: 30;
}

.windmill {
    -fx-background-color: rgb(0, 0, 0);
    -fx-spacing: 10;
}

.windmill .background-circle {
    -fx-stroke-width: 30;
    -fx-stroke: rgb(40, 40, 40);
    -fx-fill: transparent;
}

.windmill .bar {
    -fx-stroke-width: 10;
    -fx-stroke: linear-gradient(to top, yellow, red);
    -fx-stroke-line-cap: round;
    -fx-fill: transparent;
}

.windmill .thumb {
    -fx-fill: darkred;
    -fx-cursor: hand;
}

.windmill .tick {
    -fx-stroke: black;
    -fx-stroke-width: 2;
}

.windmill .tick-white {
    -fx-stroke: orange;
    -fx-stroke-width: 2;
}

.windmill .tick-label {
    -fx-font-family: 'DS-Digital';
    -fx-font-size: 12;
    -fx-fill: white;
}


